

.img-fest{
    position: absolute;
    right: 105px; 
    width: 70px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
}

.img-fest::before{
    content: ' ';
    position: absolute;
    background-color: green;
    height: 200px;
    width: 20px;
    overflow: hidden;
}