*{
  margin: 0 auto;
  box-sizing: border-box;
  /* width: 100%; */
}

.container{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  gap: .5rem;
  /* justify-content: space-between; */
}

.App > .div-need{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: right;
  margin: .5rem;
  gap: .1rem;
}

.card-name{
  width: 160px;
  height: 350px;
}

.search {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 20px;
  /* width: 50%; */
  height: 45px;
  position: relative;
  bottom: 25px;
  max-width: 100%;
  bottom: -10px;
  right: -138px;
}

.search > input{
  text-align: center;
  border-radius: 5px;
  width: 500px;
  height: 70%;
  
}

.search > button{
  text-align: center;
  width: 100px;
  border-radius: 30px;
  height: 70%;
}

.search > .suggestions-list{
  position: absolute;
  top: 40px;
  border-radius: 10px;
  background: #FFFFFF;
  width: 500px;
  max-width: 100%;
}

.suggestions-list > h5{
  font-size: 14px;
  font-weight: 400;
}

.suggestions-list > h5:hover{
  cursor: pointer;
  background-color: lightblue;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .card{    
    /* width: 10rem;
    position: fixed;
    right: -1%;
    top: 50%;
    z-index: 1000; */
  }
}

.card-body{
  padding: 0 !important;
  text-align: center;
}

.filter-type{
 position: 'relative';
 z-index: '30000';
}

.all-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .about-us-info{
    position: fixed;
    top: -1000px;
  }
  .info-aboutme{
   position: fixed;
    z-index: 5000;
    top: 42%;
    right: 7% !important;
    fill: goldenrod;
  }
}

 .info-aboutme{
   position: fixed;
    z-index: 5000;
    top: 42%;
    right: 130%;
    fill: goldenrod;
  }
.contact-box.card{
  position: fixed !important;
  /* right: 700px !important; */
}

